@import "lib/bootstrap/less/bootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";


@import "cyborg/variables.less";
@import "cyborg/bootswatch.less";

h1 {
  color: @text-color;
}

.highcharts-container {
  margin-top: 50px;
}

body {
  overflow-x: hidden;
  background-image: url("/assets/images/gui-bg.jpg");
  background-repeat: repeat;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 150px;
}

#sidebar-wrapper {
  background: rgba(68, 68, 68, 0.2);
  z-index: 1000;
  position: fixed;
  margin-top: 0px;
  left: 100px;
  width: 0;
  height: 100%;
  margin-left: -100px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 150px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 5px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 20px;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  margin-top: 10px;
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #c8c8c8;
  background: rgba(111, 111, 111, 0.2);
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


#menu-toggle {
  padding-top: 10px;
  width: 55px;
  margin-left: 0px;
  background: rgba(111, 111, 111, 0.2);

  .line {
    width: 25px;
    height: 1px;
    background-color: white;
    margin: 4px auto;
  }
}

#menu-toggle:hover {
  background: rgba(255,255,255,0.2);
}

#menu-toggle.toggled {
  width: 150px;
  margin-left: -150px;
}

#nosqlmark-brand {
  width: 100%;
  margin: 20px auto;
  margin-left: 0px;
  #nosqlmark-img {
    margin: 0px 20px;
  }
}

#nosqlmark-brand.toggled {
  width: 55px;
  margin-left: -150px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 150px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 150px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #nosqlmark-brand {
    width: 150px;
    margin: 20px auto;
    margin-left: -150px;
    #nosqlmark-img {
      margin: 0px 20px;
    }
  }
  #nosqlmark-brand.toggled {
    width: 55px;
    margin-left: 0px;
  }
  #menu-toggle {
    width: 150px;
    margin-left: -150px;
  }
  #menu-toggle.toggled {
    width: 55px;
    margin-left: 0px;
  }
}

